[tool.poetry]
name = "pyrio"
version = "1.0.5"
authors = ["kaliv0 <kaloyan.ivanov88@gmail.com>"]
readme = "README.md"
description = "Java-inspired Streams library for 'functional'-style processing of collections and iterables using fluent APIs. Provides easy integration with itertools."
keywords = ["Stream", "functional", "processing", "collections", "fluent API"]
repository = "https://github.com/kaliv0/pyrio"

[tool.poetry.dependencies]
python = "^3.12"
pyyaml = "^6.0.2"
xmltodict = "^0.14.2"

[tool.poetry.group.dev.dependencies]
ruff = "^0.6.3"
pytest = "^8.3.2"
pytest-cov = "^5.0.0"
twine = "^5.1.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
